body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe WPC', 'Segoe UI', system-ui, 'Ubuntu', 'Droid Sans', sans-serif;
    font-size: 14px;
    line-height: 1.6;
    background-color: #ed0bde;

}

p{
    color: #41dafc;
}

h1{
    color: #0b1eed;
}

.task-list-item { 
    list-style-type: none;
}

.task-list-item-checkbox{ 
    margin-left: -20px; vertical-align: middle;
}